*
{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header
{
    background-color: white;
    width: 100%;
    height: 61px;
    display: flex;
    position: fixed;
    z-index: 4;
}
.logo
{
    height: 41.4px;
    width: 172.8px;
    margin-left: 118px;
    margin-top: 13px;
}

.menu1{

    color: #5e5e5e;;
    height: 19px;
    width: 110px;
    background-color: white;
    border-right: 1px solid #333;;
    margin-left: 403px;
    margin-top: 20px;
    text-align: -webkit-match-parent;
    cursor: pointer;
}
.menu2{ height: 19px;
    width: 132px;
    background-color: white;
    border-right: 1px solid#333; ;
    margin-top: 20px;
    margin-left: 13px; 
    cursor: pointer;
    color: #5e5e5e;;
}
.menu3{ 
    height: 19px;
    width: 63px;
    background-color: white;
    border-right: 1px solid #333;;
    margin-left: 14px;
    margin-top: 20px;
    cursor: pointer;
    color: #5e5e5e;;
   
}
.menu4{
    height: 19px;
    width: 181px;
    background-color: white;
    margin-left: 14px;
    margin-top: 20px;
    cursor: pointer;
    color: #5e5e5e;;

}
.menu5{
    height: 25px;
    width:205px ;
    background-color: white;
    margin-top: 20px;
     border-radius: 7px;
     background-color: #FF8E32;




}
.left-section{
    width: 50%;
    float: left;
    

}
.right-section{
    width: 50%;
    float: left; 

}
.main-body{
     background-color: #672672;
     width: 100%;
     height: 803.67px;
     padding-top: 19px;
}
.image{
    width: 457.3px;
    height: 407.3px;
    margin-left: 124px;
    margin-top: 79px;
}
.para{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 50px;
    margin-left: 117px;
    font-size: 3rem ;
    color: white;
    
    
}
.para2{
    padding-top: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-top: 3rem;
    padding-top: 0.5rem;
    margin-left: 1px;

}
.login{
    background-color: #fcfcfc;
    box-shadow: 0 0 20px rgb(0 0 0 / 14%);
    width: 457.5px;
    height: 472.06px;
    margin-left: 98px;
    margin-top: 17px;
    display: grid;
    border-radius: 7px;
}
.login1{
    margin-top: 151px;
    border-radius: 7px;
    height: 30px;
    width: 80%;
    margin-left: 42px;
    


}
.login2{
    border-radius: 7px;
    height: 30px;
    margin: top 14px;
    width: 80%;
    margin-left: 42px;

}
.login3{
    border-radius: 7px;
    height: 30px;
    width: 80%;
    margin-left: 42px;
    

}
.login4{
    height: 30px;
    border-radius: 7px;
    width: 80%;
    margin-left: 42px;


}
.login5{
    width: 100%;
    border-radius: 7px;
    background-color: #FF8E32;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-top: 54px;
    width: 80%;
    margin-left: 42px;
    
    
}
.para3{
    margin-top: -410px;
    font-size: 20px;
    margin-left: 90px;
}
.para4{
    
    margin-top: -389px;
    font-size: 12px;
    margin-left: 93px;
}
.para5{
    margin-top: -342px;
    font-size: 21px;
    margin-left: 93px;
} 

/* .img1{
    margin-left: 10px;
    position: absolute;
}
.img2{
    margin-left: 280px;
    margin-top: 59px;
    position: absolute;
}
.img3{
    position: absolute;

}
.img4{
    position: absolute;
}
.img5{
    position: absolute; 
}
     */
.page2{
    height: 267px;
    width: 100%;
    text-align: center;
    justify-content: center;
    color:#454545;
   
   
}
.page2header
{
    margin-top: 52px;
}
.page2box{
    margin-left: 126px;
}
.page2cardbox
{
    width: 151px;
    height: 136px;
    margin-left: 45px;
    margin-top: 66px;
    float: left;
}

.pageBicon
{
    height: 46px;
}
.pageBtext
{
    margin-top: 9px;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
}









.page3
{
    height: 403px;
    width:100%;
    background-image: url("./images/pageBbackground.svg");
    
}
.page3text
{
    padding-top: 65px;
    text-align: center;
    position: relative;
    top: -14px;
}
.pageA{
    width: 50%;
    float: left;
    
}
.pageAimg
{
    width: 470;
    height: 261px;
    margin-left: 192px;
    margin-top: 40px;
}
.pageB{
    width:50% ;
    height: 306px;
    float: left;
  
}
.pageB1{
    height: 76px;
    width: 83px;
   
    padding-left: 271px;
}
.B1icon
{
    margin-left: -273px;
}
.B1header{
    margin-top: -40px;
    margin-left: -234px;
}
.B1para
{
    font-size: 11px;
    margin-top: 10px;
    margin-left: -233px;
}
.page4
{
    width: 100%;
    height: 375px;
    display: flex;
    padding-top: 35px;
}
.part4A
{
    width: 50%;
    height: 343px;
    margin-top: 11px;
}
.part4B
{
    width: 50%;
    height:  343px;
    margin-top: 11px;
}
.part4Bimg{
    height: 296px;   

}
.part4text{
  margin-left: 171px;

}
.A41icon{
    width: 30px;
    margin-left: 168px;
    margin-top: 24px;
}
.A41header{
    margin-left: 209px;
    margin-top: -34px;

}
.A41para{
    margin-left: 207px;
    font-size: 12px;
    margin-top: 5px;
}
.page5{
width: 100%;
height: 400px;
background-color: #eefaff;
}
.page5text{
    padding-top: 65px;
    text-align: center;
    top: -14px;
}




.pageA5{
    width: 50%;
    float: left;
    
}
.pageA5img
{
    height: 282px;
    margin-left: 267px;
    margin-top: 42px;
}
.pageB5{
    width:50% ;
    height: 306px;
    float: left;
  
  
}
.B5icon{
    margin-left: -37px; 
    position: absolute;
}
.B5header{
    margin-top: 43px;
}
.B5para{
    font-size: 13px;

}
.page6
{
    width: 100%;
    height: 428px;
    display: flex;
    
}
.partA6
{
    width: 50%;
    height: 343px;
    margin-top: 11px;
    position: absolute;
    
  
}
.partB6
{
    width: 100%;
    height: 339px;
    margin-top: -189px;
    margin-left: 614px;
    position: absolute;

    
}
.part6Atext{
   font-size: 23px;  
   text-align: center;

} 
.pageA61{
    margin-top: 1px;

}
.A61icon{

    margin-top: 35px;
    margin-left: 176px;

}


.A61para{
    position: absolute;
    margin-left:220px;
    font-size: 14px;
    margin-top: -22px;
}
.A61header{
    position: absolute;
    margin-top: -43px;
    margin-left: 223px;
}
.part6Bimg{

    width: 351px;
    height: 294px;
    margin-top: -123px;

}


.page7text{
    margin-top: 81px;
    font-size: 25px;
    text-align: center;
}
.page7A{

    display: flex;
    height: 348px;
    width: 100%;
}
.page71{
    background-color: antiquewhite;
    width: 188px;
    height: 220px;
    text-align: center;
    margin-left: 149px;
  margin-top: 95px;
}
.A71para{
    font-size: 12px;
}
.page7B{
    display: flex;
    height: 348px;
    width: 100%;
}
.page72{

    background-color: antiquewhite;
    width: 188px;
    height: 220px;
    text-align: center;
    margin-left:284px ;
  margin-top: 95px;
}
.page8{
    background-color: #eefaff;
    width: 100%;
    height: 400px;
    padding-top: 30px;
    
    text-align: center;

}
.class{
    position: absolute;
    margin-left: -82px;
    margin-top: 10px;
    width: 202px;
    height: 22px;
    border-radius: 9px;
    border-width: 1px;
}

#fr1{
    margin-top: 50px;
    float: left;
    margin-left: 303px;}
   
#fr2{
    float: left;
    padding-left: 10px;
    margin-top: 50px;

}
/* .page8text2{

}
.page9text2{

} */
.page9{
    width: 100%;
    height: 300px;
}
.page9text2{
    text-align: center;
    padding-top: 38px;
    font-size: 31px;
}

.fr3{
border-radius: 113px;
    margin-left: 352px;
    padding-left: 7px;
    margin-top: 94px;
}

.fr4{
    border-radius: 113px; 
}
.fr5
{
    border-radius: 113px;
}
.page10text2{

 text-align: center;
    padding-top: 38px;
}
.page10A{
    position: absolute;
    display: flex;
    margin-top: -94px;
    width: 645px;
    height: 42px;
    border-bottom: 1px solid black;
}
.button1{
    border-radius: 30px;
    background-color: #8560a8;
    margin-left: 27px;

}
.button2{
    border-radius: 30px;
    background-color: #672772;
    margin-left: 391px;


}
.page10main{
    width: 646px;
    height: 738px;
    padding-top: 94px;
    margin-left: 306px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}


.button3{
    border-radius: 3rem;
    width: 80%;
    background: #eee;
    margin-left: 60px;
    box-shadow: none;
    font-weight: bold;
}
.page10B{
    display: flex;
}
.A101para{
    text-align: center;
    margin-right: 231px;
    font-size: 13px;
    margin-top: 19px;
    color: #8560a8;

}
.A102para{
    font-size: 13px;
    margin-top: 19px;
    text-align: center;
    color: #672772;;
}
.page11
{
    height: 403px;
    width:100%;
    background-image: url("./images/pageBbackground.svg");
    margin-top: 44px;
    text-align: center;
}
.page11text{
    padding-top: 55px;
    font-size: 23px;
}
.page11img{
    width: 734px;
    margin-top: -3px;
    height: 351px; 
    
}
.page12a{
    height: 77px;
    width: 696px;
    border-style: groove;
    text-align: center;
    margin-left: 259px;
    margin-top: 46px;
}
.finalbutton{
    font-size: 1.2rem;
    background-color: #5c72ff;
    margin-left: 518px;
    margin-top: 28px;
    border-radius: 12px;
    color: white;

}
.Page12text1{
    margin-top: 16px;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: #672772;
    margin-top: 24px;
    padding-top: 32px;
}
.list1{
    font-size: x-small;
    color: #fff;
    line-height: 20px;
    list-style-type: none;
}
.footer1A{

    margin-left: 50px;
    height: 270px;
    width:174px;
}
.footer1{
    display: flex;
}
.mainhead{
    font-size: small;
    color: #ffc846;
     margin-left: 26px;
}






















